@import "_variables.scss";

body {
  color: #333;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0px;
}

h1 {
  font-size: 2.5em;
}

h2{
  text-align: center;
}

a {
  color: $brand-primary;
}

p, li {
  font-size: 1.3em;
  font-weight: 300;
}

blockquote{
  border-left: 5px solid $brand-primary;
  border-right: 5px solid $brand-primary;
}

//---- Header & Banner ----//

header {
  overflow: hidden;

  &.homepage-banner {
    background: url("../images/marijuana_growing.jpg") fixed;
    background-size: 1440px;
    padding-top: 110px;
  }
  p {
    font-size: 1.4em;
  }
  .card {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0 1px rgba(0,0,0,0.1);
    margin-bottom: 30px;
  }
  .card-heading h1 {
    padding: 20px;
    display: inline-block;
    background: $brand-primary;
    color: #fff;
  }
}

//---- Footer ----//

footer {
  background: #f6f6f6;
  color: #555;
  padding: 20px 0;

  &.sticky-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  h2 {
    margin-bottom: 15px;
    color: $brand-primary;
    font-weight: 200;
    text-align: left;
  }
  .glyphicon {
    font-size: 0.8em;
  }
}

//---- Navbar ----//

nav.navbar {
  background: #fff;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;

  li a {
    padding: 17px 15px 13px 15px;
    line-height: 45px;
  }
  .navbar-brand {
    height: auto;
    padding: 15px;
    img {
      height: 45px;
    }
  }
  .navbar-toggle {
    margin-top: 20px;
  }
  ul.nav li a {
    color: $brand-primary;
    font-weight: bold;
  }
}
//---- Content Sections ----//

section {
  padding: 20px 0;
  border-top: 1px solid #ddd;

  h1, h2, h3 {
    font-size: 1.8em;
    font-weight: 200;
  }
  h2.section-heading {
    font-size: 2.3em;
    color: #222;
    margin-bottom: 16px;
  }
  &:first-child {
    border: 0;
  }
  &:last-child {
    padding-bottom: 30px;
  }
  &.three-column .row {
    p {
      text-align: center;
    }
    h1, h3, h2 {

      text-align: center;
    }
    .glyphicon {
      display: block;
      text-align: center;
      font-size: 5.0em;
      margin: 35px 0 25px 0;
    }
  }

  &.special {
    background: $brand-primary;
    color: #fff;
    border: 0;
    h2{
      color: #fff;
      font-weight: bold;
    }
  }
}

/*--- BLOG ---*/

section.blogfeed {

  article {
    border-top: 1px solid #ddd;
    padding: 20px 0;
    &:first-child {
      border-top: 0;
    }
  }
}

/*--- PAGES ---*/

.page-header {
  margin-top: 8px;
  margin-bottom: 0;
  color: $brand-primary;
  border-bottom: 0;
}

/*---  HELPERS  ---*/

img.alignleft {
  float: left;
}

img.alignright {
  float: right;
}

.btn {
  margin: 10px 0 0 0;
  font-size: 1.2em;
  font-weight: bold;
}

.btn-brand {
  color: $brand-primary;
  border: 1px solid $brand-primary;
}

.special .btn-brand {
  color: #fff;
  border: 1px solid #fff;
}

.btn-brand:hover {
  background: $brand-primary;
  color: #fff;
}
