@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900,300italic,400italic,500italic,700italic|Quicksand:400,300,700|Comfortaa:400,300,700);

$logo-height: 45px;

$brand-primary: rgb(30,125,75);
$brand-rgba: rgba(0,170,204,1);
